.send-form {
  margin-top: 182px;
}
@media (max-width: 1919px) {
  .send-form {
    margin-top: 9.48vw;
  }
}
.send-form__container {
  position: relative;
  background: linear-gradient(180deg, #1c1a1d, #595959);
  border-radius: 45px;
  padding: 65px 122px 65px 105px;
}
@media (max-width: 1919px) {
  .send-form__container {
    border-radius: 2.34vw;
    padding: 3.39vw 6.35vw 3.39vw 5.47vw;
  }
}
@media (max-width: 768px) {
  .send-form__container {
    border-radius: 2.34vw;
    padding: 6.39vw 6.35vw 14.39vw 5.47vw;
  }
}
.send-form__btn-call {
  position: absolute;
  top: 50px;
  right: 50px;
  width: 72px;
  height: 72px;
  transition: all 0.3s ease 0s;
  background: url("../../images/send-form-call-btn.svg") 0 0/100% 100% no-repeat;
}
@media (max-width: 1919px) {
  .send-form__btn-call {
    top: 2.6vw;
    right: 2.6vw;
    width: 3.75vw;
    height: 3.75vw;
  }
}
@media (max-width: 768px) {
  .send-form__btn-call {
    top: 5.3vw;
    right: 4.6vw;
    width: 9.38vw;
    height: 9.38vw;
  }
}
@media (max-width: 360px) {
  .send-form__btn-call {
    display: none;
  }
}
.send-form__btn-call:hover {
  background: url("../../images/send-form-call-btn-blue.svg") 0 0/100% 100% no-repeat;
}
.send-form__img-bg {
  position: absolute;
  bottom: 0;
  left: 88px;
  width: 285px;
  height: 245px;
  background: url("../../images/send-form1.svg") 0 0/100% 100% no-repeat;
}
@media (max-width: 1919px) {
  .send-form__img-bg {
    left: 4.58vw;
    width: 14.84vw;
    height: 12.76vw;
  }
}
@media (max-width: 768px) {
  .send-form__img-bg {
    background: url("../../images/send-form2.svg") 0 0/100% 100% no-repeat;
    left: auto;
    right: 0;
    top: 0;
    bottom: auto;
    width: 37.11vw;
    height: 35.42vw;
  }
}
.send-form__title {
  font-size: 52px;
  color: #ffffff;
  max-width: 777px;
  text-align: left;
  text-transform: none;
}
@media (max-width: 1919px) {
  .send-form__title {
    font-size: 2.71vw;
    max-width: 40.47vw;
  }
}
@media (max-width: 768px) {
  .send-form__title {
    font-size: 5.86vw;
    max-width: 76.82vw;
  }
}
@media (max-width: 360px) {
  .send-form__title {
    font-size: 6.39vw;
  }
}
.send-form__form {
  padding-top: 8px;
  padding-left: 368px;
}
@media (max-width: 1919px) {
  .send-form__form {
    padding-top: 0.42vw;
    padding-left: 19.17vw;
  }
}
@media (max-width: 768px) {
  .send-form__form {
    padding: 0;
  }
}
.send-form__text {
  font-size: 20px;
  color: #ffffff;
  max-width: 473px;
}
@media (max-width: 1919px) {
  .send-form__text {
    font-size: 1.04vw;
    max-width: 24.64vw;
  }
}
@media (max-width: 768px) {
  .send-form__text {
    font-size: 2.6vw;
    max-width: 62.5vw;
  }
}
@media (max-width: 360px) {
  .send-form__text {
    font-size: 3.33vw;
    font-weight: 300;
    max-width: 80.56vw;
  }
}
.send-form__fields {
  margin-top: 50px;
  display: flex;
  gap: 13px;
}
@media (max-width: 1919px) {
  .send-form__fields {
    margin-top: 2.6vw;
    gap: 0.68vw;
  }
}
@media (max-width: 768px) {
  .send-form__fields {
    margin-top: 4.69vw;
    flex-direction: column;
    gap: 1.95vw;
  }
}
@media (max-width: 360px) {
  .send-form__fields {
    gap: 2.5vw;
  }
}
.send-form__item {
  width: 272px;
  height: 63px;
}
@media (max-width: 1919px) {
  .send-form__item {
    width: 14.17vw;
    height: 3.28vw;
  }
}
@media (max-width: 768px) {
  .send-form__item {
    width: 100%;
    height: 9.64vw;
  }
}
@media (max-width: 360px) {
  .send-form__item {
    height: 14.17vw;
  }
}
.send-form__item input {
  padding: 10px 20px;
}
@media (max-width: 1919px) {
  .send-form__item input {
    padding: 0.52vw 1.04vw;
  }
}
@media (max-width: 360px) {
  .send-form__item input {
    padding: 1vw 5vw;
  }
}
.send-form__item > * {
  width: 100%;
  height: 100%;
}
@media (max-width: 768px) {
  .send-form__item .btn-gradient {
    max-width: 40.36vw;
  }
}
@media (max-width: 360px) {
  .send-form__item .btn-gradient {
    max-width: 100%;
  }
}
.send-form__item-mob {
  display: none;
}
@media (max-width: 360px) {
  .send-form__item-mob {
    display: flex;
    margin-top: 6.11vw;
  }
}
.send-form__text-bottom {
  font-size: 12px;
  margin-top: 12px;
  color: #ffffff;
  opacity: 0.73;
  text-align: center;
}
@media (max-width: 1919px) {
  .send-form__text-bottom {
    font-size: 0.63vw;
    margin-top: 0.63vw;
  }
}
@media (max-width: 768px) {
  .send-form__text-bottom {
    font-size: 1.3vw;
    max-width: 90%;
    padding-left: 53.5%;
    text-align: left;
    margin-top: -7vw;
  }
}
@media (max-width: 360px) {
  .send-form__text-bottom {
    margin: 2.78vw auto 0;
    padding: 0;
    font-size: 2.78vw;
    text-align: center;
    max-width: 75vw;
  }
}
.send-form__text-bottom a {
  text-decoration: underline;
}/*# sourceMappingURL=send-form.css.map */